# Dependencies
/node_modules/
/venv/
/env/
/.venv/

# Compiled Python files
__pycache__/
*.pyc

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# React build folder
/build/

# Logs
*.log
npm-debug.log
yarn-error.log

# Editor directories and files
.vscode/
.idea/
*.swp
*~

# Operating System Files
.DS_Store
Thumbs.db

